DATABASE_URL="postgresql://USER@localhost:5432/uasd_fingerprint?schema=public"
PORT=8080
JWT_ACCESS_SECRET="change-me-access"
JWT_REFRESH_SECRET="change-me-refresh"
ACCESS_TOKEN_TTL="15m"
REFRESH_TOKEN_TTL_DAYS=7
NODE_ENV="development"
